@import "tailwindcss";

@theme {
  --breakpoint-sm: 22rem;
  --breakpoint-lg: 63rem;
}


.nav-links.visible{
  background-color: #19212c;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 90px;
  right: 0;
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  transition: 1s linear;

}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-profile {
    display: block;
  }

  .nav-links, .profile-icon {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
  }

  .dashboardContainer {
    grid-template-columns: 1fr;
  }

  .foodLogContainer {
    margin-inline: 1.4rem;
  }

  .foodLogFlexContainer {
    justify-content: space-between;
  }

  .searchFoodText {
    font-size: 0.9em;
  }

}