@import "tailwindcss";

@theme {
  --breakpoint-sm: 22rem;
}

body {
  background-color: #0e131f;
}

.nav-links.visible {
  background-color: #19212c;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 90px;
  right: 0;
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  transition: 1s linear;
}

.micronutientsContainer.hide {
  display: none;
}

.micronutrientsArrow.rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {
  /* navbar  */

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-profile {
    display: block;
  }

  .nav-links,
  .profile-icon {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
  }

  /* navbar */

  .dashboardContainer {
    display: flex;
    flex-direction: column;
  }

  .foodLogContainer {
    margin-inline: 2rem;
  }

  .foodLogFlexContainer {
    justify-content: space-between;
  }

  .searchFoodText {
    font-size: 0.9em;
    align-items: flex-start;
    padding-top: 5px;
  }

  .addFoodContainer > button {
    font-size: 14px;
  }

  .suggestionBtn-Container button {
    font-size: 12px;
    padding: 4px 6px;
    gap: 4px;
  }

  .suggestion.plus {
    font-size: 30px;
  }
}
